@font-face {
	font-family: FormulaSerial;
	src: url(../fonts/FormulaSerial.otf);
}
@font-face {
	font-family: HKRequisite-Medium;
	src: url(../fonts/HKRequisite-Medium.otf);
}
.main-banner {
	width: 100%;
	background: linear-gradient(to bottom, #f8e2e2, #c1e1fd);
  animation: gradientAnimation 50s ease infinite;
	background-size: 200% 200%;
	height: vh100;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.jumbotron{
	height: 95vh;
}
#banner-height{
	height: 70vh;
}
.portfolio-img{
	transition: all 0.5s ease;
}
.portfolio-img:hover{
	box-shadow: 5px 6px 6px 2px #e9ecef;
	transform: scale(1.01);
}
.w-md-50{
	max-width: 50%;
}
.form-container{
	margin-top: 200px;
	margin-bottom: 200px;
}
.navbar-blur {
	background-color: rgba(255, 255, 255, 0.1) !important;
	-webkit-backdrop-filter: blur(10px); 
	backdrop-filter: blur(10px) !important; 
	z-index: 100;
}
.txt-dark{
	color: black !important;
}
.btn-contact {
	background-color: #141414;
	border: 0;
}
.btn-contact:hover {
	background-color: white;
	color: #141414;
	border: 1px solid #141414;
}





